<!doctype html>
<html lang="en">
 <head>
 <!-- Required meta tags -->
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <script>
	var static_url = "{{static_url}}";
 </script>
 <!-- CoreUI CSS -->
 <title>CoreUI</title>
 <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui@3.3.0/dist/css/coreui.min.css">
  <link rel="stylesheet" href="{{static_url}}/vendor/coreui_css/coreui.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="{{static_url}}/vendor/coreui_css/free.min.css">


 
<link rel="stylesheet" href="{{static_url}}/vendor/GonrinUI/css/gonrin.pagination.css">
<link rel="stylesheet" href="{{static_url}}/vendor/GonrinUI/css/gonrin.datetimepicker.css">
<link rel="stylesheet" href="{{static_url}}/vendor/GonrinUI/css/gonrin.tokenfield.css">
<link rel="stylesheet" href="{{static_url}}/vendor/GonrinUI/css/gonrin.ref.css">
<link rel="stylesheet" href="{{static_url}}/vendor/GonrinUI/css/gonrin.radio.css">
<link rel="stylesheet" href="{{static_url}}/vendor/GonrinUI/css/gonrin.grid.css">
<link rel="stylesheet" href="{{static_url}}/css/admin.css">



 <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
 <!-- <script type="text/javascript" src="{{static_url}}/vendor/jquery/jquery-3.4.1.min.js"></script> -->
 <script src="{{static_url}}/vendor/GonrinUI/js/gonrin.core.js" type="text/javascript"></script>
 <script src="{{static_url}}/vendor/GonrinUI/js/gonrin.textbox.js" type="text/javascript"></script>
 <script src="{{static_url}}/vendor/GonrinUI/js/gonrin.numeric.js" type="text/javascript"></script>
 <script src="{{static_url}}/vendor/GonrinUI/js/moment.js" type="text/javascript"></script>


 <script src="{{static_url}}/vendor/GonrinUI/js/gonrin.notify.js" type="text/javascript"></script>
	<script src="{{static_url}}/vendor/GonrinUI/js/gonrin.radio.js" type="text/javascript"></script>
	<script src="{{static_url}}/vendor/GonrinUI/js/gonrin.checkbox.js" type="text/javascript"></script>
	<script src="{{static_url}}/vendor/GonrinUI/js/gonrin.textbox.js" type="text/javascript"></script>
	<script src="{{static_url}}/vendor/GonrinUIBoostrap4/js/gonrin.datetimepicker.js" type="text/javascript"></script>
	<script src="{{static_url}}/vendor/GonrinUI/js/gonrin.editor.js" type="text/javascript"></script>
	<script src="{{static_url}}/vendor/GonrinUI/js/gonrin.numeric.js" type="text/javascript"></script>
	<script src="{{static_url}}/vendor/GonrinUI/js/gonrin.accounting.js" type="text/javascript"></script>
	<script src="{{static_url}}/vendor/GonrinUI/js/gonrin.currency.js" type="text/javascript"></script>
	<script src="{{static_url}}/vendor/GonrinUI/js/gonrin.tokenfield.js" type="text/javascript"></script>
	<script src="{{static_url}}/vendor/GonrinUI/js/gonrin.imagelink.js" type="text/javascript"></script>
	<script src="{{static_url}}/vendor/GonrinUI/js/gonrin.typeahead.js" type="text/javascript"></script>


	<!-- BOOTSTRAP 4 UI -->
	<script src="{{static_url}}/vendor/GonrinUI/js/gonrin.combobox.js" type="text/javascript"></script>
	<script src="{{static_url}}/vendor/GonrinUI/js/gonrin.dialog.js" type="text/javascript"></script>
	<script src="{{static_url}}/vendor/GonrinUI/js/gonrin.grid.js" type="text/javascript"></script>
	<script src="{{static_url}}/vendor/GonrinUI/js/gonrin.pagination.js" type="text/javascript"></script>
	<script src="{{static_url}}/vendor/GonrinUI/js/gonrin.ref.js" type="text/javascript"></script>
 
 <script src="/static/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
 

 </head>
 <body>
	<div id="body-container" class="c-app flex-row align-items-center" style="width: 100%;">
	
	</div>

  <!-- Optional JavaScript -->
 <!-- Popper.js first, then CoreUI JS -->
 <script src="https://unpkg.com/@popperjs/core@2"></script>
 <script src="/static/vendor/CoreUI/coreui.min.js"></script>
 <script data-main="{{static_url}}/js/app" src="{{static_url}}/js/require.js"></script>
 </body>
 
</html>
