
<td id="tenhanghoa">
	<input type="text" class="form-control" item-bind="dict:hanghoa" placeholder="Nhập sản phẩm" />
</td>
<td><input type="text" item-bind="value:dongia" class="form-control"  /></td>
<td><input type="text" item-bind="value:soluong" class="form-control"  /></td>
<td><input type="text" item-bind="value:thanhtien" class="form-control"  /></td>
<td style="width: 50px; line-height: 34px;">
    <button type="button" class="btn btn-sm btn-danger" id="itemRemove">
        <span class="fa fa-times">x</span>
    </button>
</td>