<section class="content">
	<div class="col-lg-12">
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title">Thông Tin Hoa Don</h3>
				<div class="box-tools">
					<div block-bind="toolbar"></div>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="box-body ">
				<div block-bind="content" class="row" style="margin-right: 0px; margin-left: 0px;">

					<div class="form-group col-lg-12 row">

						<div class="form-group col-md-4">
							<label>id</label>
							<input type="text" data-bind="value:id" class="form-control inputbox" readonly>
						</div>
						<div class="form-group col-md-4">
							<label>Ma Hoa Don</label>
							<input type="text" data-bind="value:ma" class="form-control inputbox">
						</div>
						<div class="form-group col-md-6">
							<label>Ghi Chu</label>
							<input type="text" data-bind="value:ghichu" class="form-control inputbox item_no">
						</div>
						<div class="form-group col-md-6">
							<label>Ngay Mua</label>
							<input type="text" data-bind="value:ngaymua" class="form-control inputbox item_no">
						</div>
						<div class="form-group col-md-6">
							<label>Thanh Tien</label>
							<input type="text" data-bind="value:thanhtien" class="form-control inputbox item_no">
						</div>
						<div class="form-group col-md-6">
							<label>VAT</label>
							<input type="text" data-bind="value:vat" class="form-control inputbox item_no">
						</div>
						<div class="form-group col-md-6">
							<label>Tong Tien</label>
							<input type="text" data-bind="value:tongtien" class="form-control inputbox item_no">
						</div>
						<div class="form-group col-md-6">
							<label>Khach Hang</label>
							<input type="text" data-bind="dict:khachhang" class="form-control inputbox item_no">
						</div>
					</div>

					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-12" id="details">
							<table class="table table-striped table-responsive" style="min-height:364px;">
								<thead>
									<tr>
										<td style="min-width: 180px;">Tên SP</td>
										<td style="min-width: 88px; text-align: center;">Đơn giá</td>
										<td style="min-width: 48px; text-align: center;">Số lượng</td>
										<td style="min-width: 48px; text-align: center;">Thành tiền</td>
									</tr>
								</thead>
								<tbody id="" data-bind="list:chitiethoadon"></tbody>
							</table>
						</div>
						<div class="col-lg-12 col-md-12 col-sm-12 col-12" id="add_chitiet_hoadon"></div>
					</div>

				</div>


			</div>
		</div>
		<hr>
	</div>
	</div>
</section>