
<section class="content">
	<div class="col-lg-12">
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title">Thông Tin Khach Hang</h3>
				<div class="box-tools">
					<div block-bind="toolbar"></div>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="box-body ">
				<div block-bind="content" class="row" style="margin-right: 0px; margin-left: 0px;">

					<div class="form-group col-lg-12 row">
						
						<div class="form-group col-md-4">
							<label>id</label>
							<input type="text" data-bind="value:id" class="form-control inputbox" readonly>
						</div>
						<div class="form-group col-md-4">
							<label>Ma Khach Hang</label>
							<input type="text" data-bind="value:ma" class="form-control inputbox" >
						</div>
						<div class="form-group col-md-4">
							<label>Ten Khach Hang</label>
							<input type="text" data-bind="value:ten" class="form-control inputbox" >
						</div>
						<div class="form-group col-md-6">
							<label>So Dien Thoai</label>
							<input type="text" data-bind="value:sodienthoai" class="form-control inputbox item_no">
						</div>
						<div class="form-group col-md-6">
							<label>Email</label>
							<input type="text" data-bind="value:email" class="form-control inputbox item_no">
						</div>
						<div class="form-group col-md-6">
							<label>Dia Chi</label>
							<input type="text" data-bind="value:diachi" class="form-control inputbox item_no">
						</div>
						<div class="form-group col-md-6">
							<label>Quoc Gia</label>
							<input type="text" data-bind="dict:quocgia" class="form-control inputbox item_no">
						</div>
						
					</div>
					<div class="form-group col-lg-12 d-flex">
						
					</div>

					</div>


				</div>
			</div>
			<hr>
		</div>
	</div>
</section>
