
<section class="content">
	<div class="col-lg-12">
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title">Thông Tin Xã Phường</h3>
				<div class="box-tools">
					<div block-bind="toolbar"></div>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="box-body ">
				<div block-bind="content" class="row" style="margin-right: 0px; margin-left: 0px;">

					<div class="form-group col-lg-12 row">
						
						<div class="form-group col-md-4">
							<label>id</label>
							<input type="text" data-bind="value:id" class="form-control inputbox" readonly>
						</div>
						<div class="form-group col-md-4">
							<label>Mã Xã Phường</label>
							<input type="text" data-bind="value:ma" class="form-control inputbox" >
						</div>
						<div class="form-group col-md-4">
							<label>Tên Xã Phường</label>
							<input type="text" data-bind="value:ten" class="form-control inputbox" >
						</div>
						<div class="form-group col-md-6">
							<label>Mô Tả</label>
							<input type="text" data-bind="value:mota" class="form-control inputbox item_no">
						</div>
						<div class="form-group col-md-6">
							<label>Quận Huyện</label>
							<input type="text" data-bind="dict:quanhuyen" class="form-control inputbox item_no">
						</div>
						
					</div>
					<div class="form-group col-lg-12 d-flex">
						
					</div>

					</div>


				</div>
			</div>
			<hr>
		</div>
	</div>
</section>
