<section class="content">
    <div class="col">
        <div class="box box-primary">
            <div class="box-header">
                <div class="justify-content-between align-items-center d-flex">
                    <h3 class="box-title">Danh Sách Hang Hoa</h3>
                    <div class="align-items-center d-flex">
                        <div class="box-tools">
                            <div class="input-group input-group-sm" style="width: 200px;">
                                <!-- <input name="table_search" class="form-control pull-right" placeholder="Search" type="text">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div> -->
                            </div>
                        </div>
                        <div block-bind="toolbar" class="margin-5" class="text-right"></div>
                    </div>
                </div>
            </div>

            <!-- /.box-header -->
            
            <div class="box-body table-responsive no-padding" style="min-height:600px;">
                <div id="grid" data-bind='collection:$collection'></div>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</section>

