<!-- <div block-bind="toolbar"></div>
<div block-bind="content">
	<div class="row text-center" style="margin-bottom:10px">
		<div class="col-md-2 text-right"><label>ID</label></div>
		<div class="col-md-3">
			<input type="text" class="form-control"  readonly data-bind="value:id"/>
		</div>
	</div>
	<div class="row text-center" style="margin-bottom:10px">
		<div class="col-md-2 text-right"><label>Mã</label></div>
		<div class="col-md-3">
			<input type="text" class="form-control"  data-bind="value:ma"/>
		</div>
	</div>
	<div class="row text-center" style="margin-bottom:10px">
		<div class="col-md-2 text-right"><label>Tên</label></div>
		<div class="col-md-3">
			<input type="text" class="form-control" data-bind="value:ten"/>
		</div>
	</div>
	<div class="row text-center" style="margin-bottom:10px">
		<div class="col-md-2 text-right"><label>Quốc gia</label></div>
		<div class="col-md-3">
			<input type="text" class="form-control" data-bind="dict:quocgia"/>
		</div>
	</div>
</div> -->

<section class="content">
	<div class="col-lg-12">
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title">Thông Tin Tinh Thanh</h3>
				<div class="box-tools">
					<div block-bind="toolbar"></div>
				</div>
			</div>
			<!-- /.box-header -->
			<div class="box-body ">
				<div block-bind="content" class="row" style="margin-right: 0px; margin-left: 0px;">

					<div class="form-group col-lg-12 row">
						
						<div class="form-group col-md-4">
							<label>id </label>
							<input type="text" data-bind="value:id" class="form-control inputbox" readonly>
						</div>
						<div class="form-group col-md-4">
							<label>Ma Tinh Thanh</label>
							<input type="text" data-bind="value:ma" class="form-control inputbox" >
						</div>
						<div class="form-group col-md-4">
							<label>Ten Tinh Thanh</label>
							<input type="text" data-bind="value:ten" class="form-control inputbox" >
						</div>
						<div class="form-group col-md-6">
							<label>Mo Ta</label>
							<input type="text" data-bind="value:mota" class="form-control inputbox item_no">
						</div>
						<div class="form-group col-md-6">
							<label>Quoc Gia</label>
							<input type="text" data-bind="dict:quocgia" class="form-control inputbox item_no">
						</div>
						
					</div>
					<div class="form-group col-lg-12 d-flex">
						
					</div>

					</div>


				</div>
			</div>
			<hr>
		</div>
	</div>
</section>
